# =========================
# CREDENCIAIS (NUNCA SUBIR)
# =========================
.env

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# DADOS LOCAIS PESADOS
# =========================
data/
data/raw/despesas/

# =========================
# EDITORES / SISTEMA
# =========================
.vscode/
.DS_Store

# =========================
# LOGS (se tiver no futuro)
# =========================
*.log
copiar_banco.py
etl_ollama.py
testar_banco.py
